<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
		<menuitem id="menu_orchid_line_of_business"  
			name="Line of Business" 
			parent="sale.prod_config_main" 
			action="orchid_somfy_ksa_v16.action_orchid_line_of_business" sequence="10"/>

		<menuitem id="menu_orchid_distribution_channel"  
			name="Distribution Channel" 
			parent="sale.prod_config_main" 
			action="orchid_somfy_ksa_v16.action_orchid_distribution_channel" sequence="10"/>

		<menuitem id="menu_orchid_buss_type"  
			name="Business Entity Type" 
			parent="sale.prod_config_main" 
			action="orchid_somfy_ksa_v16.action_orchid_buss_type" sequence="10"/>
		
		<menuitem id="orchid_product_brand_menu"  
			name="Brand" 
			parent="stock.menu_stock_config_settings" 
            action="action_orchid_product_brand_tree_view" sequence="10"/>

        <menuitem id="orchid_inventory_classification_menu"  
        	name="Classification" 
            parent="stock.menu_stock_config_settings" 
            action="action_orchid_inventory_classification_tree_view" sequence="15"/>

        <menuitem id="orchid_product_group_menu" 
        	name="Group" 
        	parent="stock.menu_stock_config_settings" 
            action="action_orchid_product_group_tree_view" sequence="13"/>

        <menuitem id="orchid_product_hscode_menu" 
        	name="Hscode" 
        	parent="stock.menu_stock_config_settings" 
            action="action_orchid_product_hscode_tree_view" sequence="16"/>

        <menuitem id="orchid_product_sub_group_menu" 
        	name="Sub Group" 
        	parent="stock.menu_stock_config_settings" 
            action="action_orchid_product_sub_group_tree_view" sequence="14"/>

        <menuitem id="orchid_product_sub_type_menu" 
        	name="Sub Type" 
        	parent="stock.menu_stock_config_settings" 
            action="action_orchid_product_sub_type_tree_view" sequence="12"/>

        <menuitem id="orchid_product_type_menu" 
        	name="Type" 
        	parent="stock.menu_stock_config_settings" 
            action="action_orchid_product_type_tree_view" sequence="11"/>

        <menuitem id="sale.product_menu_catalog" 
        	name="PRD &amp; SP List" 
        	parent="sale.sale_menu_root"
        	action="product.product_template_action" sequence="4"/>
        <menuitem id="od_transaction_type_menu" 
        	name="Transaction Type" 
        	parent="sale.menu_sale_config" 
            action="action_od_transaction_type_tree_view" sequence="3"/>
	</data>
</odoo>
	