
.o_form_statusbar .o_full_screen_toggle {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.4;
}

.o_form_statusbar .o_full_screen_chatter_toggle {
    align-self: center;
    margin-left: calc(var(--o-statusbar-caret-width) * 0.5);
}

.full-screen-form {
    max-width: 100% !important;
}
